{% extends "base.html" %}
{% block title %}Settings Form{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/url_form.css') }}">
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <div class="shadow p-4 bg-secondary rounded-5">
            <form id="urlForm">
                <div class="mb-3">
                    <label for="base_url" class="text-white fw-bold mb-2">Base URL *</label>
                    <input type="text" class="form-control" id="base_url" name="base_url" required>
                </div>
                <div class="mb-3">
                    <label for="swagger_url" class="text-white fw-bold mb-2">JSON Schema URL *</label>
                    <input type="text" class="form-control" id="swagger_url" name="swagger_url" required>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-sidebar px-5 rounded-5">
                        <i class="fas fa-save me-2"></i> Сохранить
                    </button>
                </div>
                <div class="loader" id="loader"></div>
            </form>
        </div>
    </div>
</div>

<div class="notification" id="notification"></div>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', path='/js/url_form.js') }}"></script>
{% endblock %}
