{% extends "base.html" %}
{% block title %}Settings Form{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/url_form.css') }}">
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8 custom-form">
        <div class="shadow p-4 bg-secondary rounded-5">
            <form id="urlForm">
                <div class="form-group">
                    <label for="base_url" class="text-white mt-3 fs-5 fw-bold">Base URL*</label>
                    <input type="text" class="form-control rounded-5 mt-2 p-3" id="base_url" name="base_url" required>
                </div>
                <div class="form-group">
                    <label for="swagger_url" class="text-white mt-3 fs-5 fw-bold">JSON Schema URL*</label>
                    <input type="text" class="form-control rounded-5 mt-2 p-3" id="swagger_url" name="swagger_url" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block mt-3 p-3 rounded-5">Сохранить</button>
                </div>
                <div class="loader" id="loader"></div>
            </form>
        </div>
    </div>
</div>


<div class="notification" id="notification"></div>

{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', path='/js/url_form.js') }}"></script>
{% endblock %}