.progress {
    height: 30px;
    background-color: var(--progress-bg);
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    background-color: var(--primary-color);
    border-radius: 10px;
    transition: width 0.5s ease;
}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100%;
}

.text-block span {
    display: block;
    line-height: 1.2;
}

.text-block .large-text {
    font-size: 64px;
    font-weight: bold;
}

.text-block .medium-text {
    font-size: 24px;
    font-weight: bold;
}

.text-block .small-text {
    font-size: 16px;
}

.btn-filter,
.btn-sidebar {
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 100px;
}

.btn-filter {
    color: white;
    background-color: var(--secondary-color);
}

.btn-filter:hover {
    background-color: var(--primary-color);
    transform: scale(1.05);
}

.btn-filter:active {
    transform: scale(0.95);
}

.endpoint {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    gap: 10px;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: var(--card-bg);
    box-shadow: var(--shadow);
}

.endpoint .method,
.endpoint .status {
    text-align: center;
    padding: 6px;
    border-radius: 10px;
    color: white;
}

.endpoint .method {
    background-color: var(--secondary-color);
}

.endpoint .path {
    color: var(--primary-color);
    font-weight: bold;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.endpoint .path::-webkit-scrollbar {
    display: none;
}

.endpoint .status {
    background-color: var(--danger-color);
}

.endpoint .status.covered {
    background-color: var(--success-color);
}

@media (max-width: 768px) {
    .text-block .large-text {
        font-size: 48px;
    }

    .text-block .small-text {
        font-size: 14px;
    }

    .endpoint {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .endpoint .path {
        white-space: nowrap;
    }
}

@media (max-width: 576px) {
    .text-block .large-text {
        font-size: 36px;
    }

    .text-block .small-text {
        font-size: 13px;
    }
}
